{:quarto {:format {:html {:toc true
                          :toc-expand 2
                          :toc-depth 4
                          :theme [:cosmo "notebooks/custom.scss"]
                          :fontsize "0.9em"}}}
 :base-target-path ".clay-temp"}
