{:remote-repo {:git-url "https://github.com/scicloj/pocket"
               :branch "master"}
 :quarto {:format {:html {:toc true
                          :toc-expand 2
                          :number-depth 1
                          :toc-depth 4
                          :theme [:cosmo "notebooks/custom.scss"]
                          :filters ["notebooks/collapse-callouts.lua"]}}}
 :base-target-path ".clay-temp"}
